<div id='footer'>
  <ul>
    <li>
      Back to <%= link_to 'Lundqvist & Svestrom',
      'https://color.adobe.com/Lundqvist-Svestrom-color-theme-8716048/' %>
    </li>
    <li>
      Copyright 2016 Lundqvist & Svestrom. All rights reserved.
      <%= link_to 'Privacy Policy', 'https://en.wikipedia.org/wiki/Privacy_policy'%>.
      <%= link_to 'Terms & Conditions', 'https://en.wikipedia.org/wiki/Terms_%26_conditions'%>.
    </li>
  </ul>
</div>
